.topicBox{
    background-color: rgb(224, 250, 145);
    width: 80%;
    height: 100px;
    border-radius: 10px;
}

.text{
    font-size: 30px;
    font-family: roboto;
    color: blue;
    margin-left: 20px;
}